@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

*{
    margin: 0;
}


.main-game {
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho'
    'amarelo azul';
    grid-gap: 8px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 500px;
    height: 500px;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(1, 88, 1);
    border-top-left-radius: 100%;
}

.green:hover{
    transform: scale(103%);
    transition: 50ms linear; 
}

.red:hover{
    transform: scale(103%);
    transition: 50ms linear; 
}

.yellow:hover{
    transform: scale(103%);
    transition: 50ms linear; 
}

.blue:hover{
    transform: scale(103%);
    transition: 50ms linear; 
}

.selected {
    animation: fade normal;
}

@keyframes fade{
    0%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}

.selected {
    animation-name: example;
    animation-duration: 0.3s;
  }
  
  @keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  .box {
    background-image: url('./JogoGenesis/estelar.gif');
    background-size: 100% 50px;
    -webkit-text-fill-color: transparent;
   
  }
  
  .box {
    position: absolute;
    top: 75%;
    left: 50%;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font: bold 5vmax/.8 Open Sans, Impact;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  } */

  h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5rem;

  }

.fill{   
    background-image: url('/JogoGenesis/image-cores.gif');
    -webkit-background-clip: text; /*Insere o item texto para o parâmetro transparente abaixo*/ 
    -webkit-text-fill-color: transparent;

}